<mat-card>
    <mat-card-title>Deletar Transação</mat-card-title>
    <p-messages></p-messages>
    <form #form="ngForm" *ngIf="data" (ngSubmit)="remove(data.title)">
        <mat-form-field>
            <input for="title" id="title" matInput placeholder="Título"
                  [(ngModel)]="data.title" name="title" value="title" readonly="true">
        </mat-form-field>
        <mat-form-field>
            <input  for="type" id="type" matInput placeholder="Tipo"
            [(ngModel)]="data.type" name="type" readonly="true">
        </mat-form-field>
        <mat-form-field>
            <input  for="value" id="value" matInput placeholder="Valor (R$)"
            [(ngModel)]="data.value" name="value" readonly="true">
        </mat-form-field>

        <button  mat-raised-button type="submit" color="primary">
            Excluir
        </button>
    </form>
    
    <button  mat-raised-button color="warn" (click)="cancel()">
        cancelar
    </button>
</mat-card>

