<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de Controle de Caixa v1.0.
     <ul>
         <li>Este sistema realiza lançamentos de entrada e saída.</li>
         <li>Cada lançamento possui três campos a serem preenchidos.</li>
         <li>Na opção Novos lançamentos você pode inserir dados.</li>
         <li>Na opção Últimos lançamentos você pode conferir o histórico de transações, editar ou remover lançamentos.</li>
     </ul>   
        
    </mat-card-subtitle>
</mat-card>
